.DS_Store 
*/.DS_Store 
demo/hbuilderx/
node_modules/
type/
dist/
lib/
demo/dist
.hbuilderx/
.vscode/
happyDoc/
unpackage/
Documents/docs/jsonhtml
Documents/docs/jsonstyle
types/
multiple-track-demo/js_sdk
multiple-track-demo/nativeplugins
multiple-track-demo/uni_modules